Node Red Bluemix/Node Red code/Node Red flow editor code.txt
[{"id":"b1b4a786.d22c58","type":"ibmiot","name":"Bluemix IOT Token"},{"id":"234cdfca.dcb32","type":"mongodb","hostname":"ds055210.mongolab.com","port":"55210","db":"IbmCloud_3kia3vvs_fck15oju","name":"MongoDB"},{"id":"cb92d430.346d28","type":"mongodb in","service":"_ext_","mongodb":"234cdfca.dcb32","name":"","collection":"status","operation":"find","x":341,"y":223,"z":"e76d02c6.1893","wires":[["9381bd06.6c7e4"]]},{"id":"a0407034.5fbf9","type":"http in","name":"status","url":"/status","method":"get","x":110,"y":225,"z":"e76d02c6.1893","wires":[["cb92d430.346d28"]]},{"id":"9381bd06.6c7e4","type":"function","name":"content type","func":"var filter = require('value');\napp.use(filter.json());\napp.use(filter.urlencoded({extended:true}));\nmsg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;","outputs":1,"valid":true,"x":561,"y":223,"z":"e76d02c6.1893","wires":[["a4f43fe3.5b0bc","cfdedb40.e7f1b"]]},{"id":"d38426c1.2c7bd8","type":"mongodb out","service":"_ext_","mongodb":"234cdfca.dcb32","name":"","collection":"status","payonly":true,"upsert":true,"multi":false,"operation":"update","x":530,"y":123,"z":"e76d02c6.1893","wires":[]},{"id":"2cd97fb6.d3268","type":"debug","name":"","active":true,"console":"false","complete":"false","x":519,"y":70,"z":"e76d02c6.1893","wires":[]},{"id":"a4f43fe3.5b0bc","type":"http response","name":"","x":731,"y":207,"z":"e76d02c6.1893","wires":[]},{"id":"abcfc580.695a88","type":"ibmiot in","authentication":"quickstart","apiKey":"b1b4a786.d22c58","inputType":"evt","deviceId":"12ffbbccde11","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":133,"y":129,"z":"e76d02c6.1893","wires":[["d38426c1.2c7bd8","2cd97fb6.d3268"]]},{"id":"cfdedb40.e7f1b","type":"ibmpush","name":"","ApplicationID":"","ApplicationRoute":"","identifiers":"","notification":"broadcast","x":733,"y":264,"z":"e76d02c6.1893","wires":[]}]
